name: Laravel CI/CD

on:
  push:
    branches: 
      - master
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel_test
          MYSQL_USER: laravel
          MYSQL_PASSWORD: secret
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    env:
      DB_CONNECTION: mysql
      DB_HOST: 127.0.0.1
      DB_PORT: 3306
      DB_DATABASE: laravel_test
      DB_USERNAME: laravel
      DB_PASSWORD: secret

    steps:
      # 1. Checkout repository
      - name: Checkout Code
        uses: actions/checkout@v3
      
      # 2. Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, pdo, mysql
          coverage: xdebug
      # 3. Install Depedencies
      - name: Install Depedencies Composer
        run: composer install
      
      # 4. Copy & Replace Env
      - name: Replace Env
        run: cp .env.example .env
      
      # 5. Generate Key
      - name: Generate Key Env
        run: php artisan key:generate

      # 6. Migrate Database
      - name: Migrate & Store Database
        run: php artisan migrate

      # 7. Insert Menu CMS 
      - name: Insert CMS Menu
        run: php artisan developer:menu-cms
      
      # 8. Buat Akun Admin
      - name: Insert Akun Admin Command Line
        run: php artisan developer:create-admin --email=email@example.com --password=user123

      # 9. Buat Akun Developer
      - name: Insert Akun Developer Command Line
        run: php artisan developer:create-developer --email=developer@example.com --password=developer123


